mbody {
	/*background: none repeat scroll 0 0 #DDDDDD;
	background: none repeat scroll 0 0  ivory;*/
	padding-top:60px;
}

body {
	overflow-x:hidden;
}

a {
	color:inherit;
}

.panel {
	right:0px;
	bottom:0;
	top:50px;
	position:fixed;
	overflow-x:hidden;
	z-index:1000;
	margin-left:0px !important;
	padding-right:14px;
}

.bigpanel {
	right:0px;
	bottom:0;
	top:50px;
	position:fixed;
	overflow:hidden;
}

.page {
	left:0;
	right:0;
	bottom:0;
	top:42px;
	position:absolute;
	overflow:hidden;
}

.infos {
	top:100px;
	position: fixed;
	padding:0;
	right: 50px;
}

.menu {
	box-shadow:0px 2px 5px #111;	
	top:50px;
	bottom:0;
	font-size: 9pt;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;	
	padding-bottom: 10px;	
	margin-bottom: 15px;	
	word-wrap: break-word;
	position:absolute;
	overflow-x:hidden;
	overflow-y:auto;
	z-index:1000;
	width:15%;
	
}

.exif {
	display: none;
	box-shadow: 0 2px 5px #111111;
	bottom: 150px;
	left: 0;
    	margin: auto;
    	opacity: 0.66;
    	overflow: hidden;
    	position: absolute;
    	right: 0;
    	width: 75% !important;	
}

#slideshow , #button_downloadorig,#button_vieworig {
	display:none;
}

.images , .videos {
	margin-bottom:15px;
}

.textinfoadmin {
    display: none;
    margin-bottom: 5px;
}

.ui-draggable {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	z-index:1030;
}

.loading {
  background: url('../../inc/loading.gif') no-repeat center center;
  height: 100%;
  position: fixed;
  right:0;	
}

.item.active,.item.selected,  .item:hover, .item-video.selected, .item-video:hover {
    border-color: #0088E8;
}

.thumbs {
  list-style :none outside none;
}

.thumbs .item , .thumbs .directory {
margin-bottom: 10px;
width:130px;
display:inline-block;
}

#spacer {
	height:100%;
	width:100%;
}

/* Scrollbar */
#VerticalScrollBar, #HorizontalScrollBar {
	display:none;
}

/* Corbeille */	
.bin{
	text-align:		center;
	width:50px;
}

.bin > a{
	margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.bin.hovered{
	background:		red;
}
	
/* Thumbnails */
.thumbnail > img {
	 height : 120px;
	 width : 120px;	 
}

li.selected > a.thumbnail {
	border-color : #0088CC;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
}

.directory {
	box-shadow: 0 2px 5px #333333;
	margin-left:10px;
}

.album > img {
	 height : 120px;
	 width : 120px;
	 opacity:0;
}

.dirname {
	padding-top: 5px;
    	position: absolute;
	text-align: center;
	text-shadow: 0 2px 5px #ffffff;
	width: 120px;
	height:40px;
	word-wrap: break-word;
	overflow:auto;
}

/* Tooltips */
.tooltip.in {
  opacity: 1;
  filter: alpha(opacity=1);
}

.tooltip-inner {  
	max-width: 400px;
	max-height: 400px;
}

/* Linear_Panel */
.arrow {

    background: none repeat scroll 0 0 #4E443C;
    border-radius: 30px;
    box-shadow: 0 0 2px #999999;
    color: #FFFFFF;
    font: 24px/27px Arial,sans-serif;
    position: fixed;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 1px #000000;
    width: 25px;
}

.linear_panel {
	overflow-x:auto;
	overflow-y:hidden;
	white-space: nowrap;
	bottom:0px;
	position:absolute;
	left:0;
	right:0;
	margin-right:20px;
	margin-left:20px;
	height:120px;
	text-align:center;
	}

.linear_panel ul li {
    display: -moz-inline-stack;
    display: inline-block;
    float: none;
    margin: 5px;
    vertical-align: top;
}



.linear_panel .thumbnail > img {
	height : 90px;
 	min-width : 90px;
}

#linear {
	display : none;
}

/* Image Panel */
.image_panel {
	position:absolute;
	bottom:140px;
	left:0;
	right:0;
	top:0;
	text-align:center;
}

.image_panel ul {
 	margin:0;
	padding:0;
}

.image_panel li {
 	margin:0;
	padding:0;
	float:none;
}

.image_panel #next {
	display:none;
	width: 55px;
	height: 55px;
	background-image: url("../../inc/a02.png");
	background-position: -63px -33px;
	position: absolute;
	top: 50%; 
	right: 8px;
	cursor:pointer;
}

.image_panel #next:hover {
	background-position: -183px -33px;
}

.image_panel #prev {
	display:none;
	width: 55px;
	height: 55px;
	background-image: url("../../inc/a02.png");
	background-position: -3px -33px;
	position: absolute;
	top: 50%; 
	left: 8px;
	cursor:pointer;
}

.image_panel #prev:hover {
	background-position: -123px -33px;
}


/* BigImage */
#image_big {
    height: auto;
    width: auto;
}

/* Image_Bar */
.image_bar {
    bottom: 0;
    left: 0px;
    position: absolute;
    right: 0px;
    text-align: center;
    margin-bottom : 120px;
	height:20px;
}

.image_bar li {
    display:inline-block;
    padding-right : 20px;
}

/* Image */

.bigimage, .bigvideo {
    bottom: 0px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0px;
    left:0px;
    right:0px;
	margin-left:10px;
	margin-right:10px;
}

/* Menu */
.btn-navbar-menu {
	display:none;
}

.nav-menu.collapse {
    height: auto;
    overflow: visible;
}

.submenu li {
	 padding-left: 5px;
}

.submenu li > ul  {
    display: none;
}

li.submenu .hovered > a {
	background: red!important;
}

.submenu li >a {
	padding-left:5px;
	padding-right:5px;
}

li.submenu.selected > ul  {
    display: inherit;
}

.root > li {
	padding-left:0px;
}

/* Modal */
.modal {
	margin-top:0px !important;
}

.modal-header-bar {
    border: medium none;
    border-radius: 4px 4px 0 0;
	padding-left:5px;
	padding-right:5px;
	padding-top:0px;
	padding-bottom:0px;
	
}

#ModalAdmin {
	top:40px;
}

#ModalAdmin .modal-header{
	padding:0;
}

#myModal {
	top:25%
}

.modal-infos {
	margin:0;
	padding:0;
}

/* Account and Group */
.accountitem:hover {
    background: none repeat scroll 0 0 #0088E8;
    color: white;
}

.groupitem , .accountitem {
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 2px 2px black;	
}

.accountitem {
	cursor:  move;
}

/* Viewlist */

.view_list th , .view_list td {
	vertical-align:middle;
	text-align:center;
}

/*Plupload*/
.plupload.html5 {
	width:0 !important;
}

/* responsive */
@media (min-width: 979px) {
 .nav-menu, .nav-menu.collapse {
    height: auto !important;
    overflow: visible !important;
  }
}


@media (max-width: 978px) {

  #menu, .image_panel, .image_bar, .panel, .bigimage, .bigpanel, .linear_panel {
	position:static;
	margin:0 !important;
	width:100% !important;
    }

  .nav-menu, .nav-menu.collapse {
    height: 0;
    overflow: hidden;
   }	

  .btn-navbar-menu {
    display:block;
   }
   #menu , #ImageItem img {
    width:100%;
   }
   .exif {
    position:relative;
    margin-top:-150px;
   }
}
